<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>email ejs template</title>
</head>

<body>
    <h1>
        Welcome !!
        <%= email %>
            <p>정말로 반가워요 ^^</p>
    </h1>
</body>

</html>